<section class="admin-products-index">

  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="card text-center">
        <div class="card-body with-background">        
          
          <p class="count-text ">Welcome to the Jungle</p>                    
        </div>
      </div>

</section>